:root {
  --background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --cursive-font-family: "Akaya Telivigala", cursive;
  --default-font-family: "Jomolhari", serif;
  --rotate-font-family: "Train One", cursive;
  --primary-color: #810000;
  --secondary-color: #161d6f;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
}

body.homepage {
  overflow: hidden;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: var(--default-font-family);
}

h1 {
  font-size: 70px;
  line-height: 1;
  margin: 0;
  font-family: var(--cursive-font-family);
}

p {
  font-size: 35px;
  font-weight: 600;
  margin-top: 15px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

/* navigation styling */

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}

nav li.active a {
  color: var(--primary-color);
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 800;
  font-size: 18px;
  font-family: var(--default-font-family);
  transition: all 200ms ease-in-out;
}

nav a:hover {
  color: var(--primary-color);
  font-size: 22px;
}

/* title of about and contact pages */

header h1.title,
header .about-heading {
  left: 6px;
  top: 35%;
  color: var(--primary-color);
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  font-size: 60px;
  font-family: var(--rotate-font-family);
  font-weight: 600;
  letter-spacing: 5px;
  margin-left: 10px;
}

header .about-heading {
  position: fixed;
}

header .contact-heading {
  position: absolute;
}

/* hero of the page */

.hero {
  padding: 50px 20px 40px;
}

.hero p span {
  font-weight: 800;
  color: var(--secondary-color);
  font-family: var(--cursive-font-family);
  font-size: 50px;
}

.project-links {
  display: flex;
  justify-content: center;
}

.project-links a {
  color: var(--secondary-color);
  font-weight: 600;
  font-family: var(--default-font-family);
  padding: 10px 25px;
  background: transparent;
  border: 3px solid var(--secondary-color);
  border-radius: 30px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.project-links a:hover {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
}

/* logos */

.logo {
  max-height: 70px;
  border-radius: 50%;
}

.logo-small {
  max-height: 40px;
  border-radius: 15px;
}

.bubbles img {
  width: 50px;
  animation: bubble 7s linear infinite;
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}

/* Bubble animation */
@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 25px;
}
.bubbles img:nth-child(2) {
  animation-delay: 1s;
}
.bubbles img:nth-child(3) {
  animation-delay: 3s;
  width: 25px;
}
.bubbles img:nth-child(4) {
  animation-delay: 5s;
}
.bubbles img:nth-child(5) {
  animation-delay: 3s;
}
.bubbles img:nth-child(6) {
  animation-delay: 6s;
  width: 20px;
}
.bubbles img:nth-child(7) {
  animation-delay: 7s;
  width: 35px;
}
