:root {
  --background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --cursive-font-family: "Akaya Telivigala", cursive;
  --default-font-family: "Jomolhari", serif;
  --rotate-font-family: "Train One", cursive;
  --primary-color: #810000;
  --secondary-color: #161d6f;
  --accent-color: #fafafa;
  --hr-color: #21094e;
}

body {
  background: var(--background);
  margin: 20px auto;
  padding: 0;
}

body.homepage {
  overflow: hidden;
}

h2 {
  font-family: var(--default-font-family);
  font-size: 30px;
  font-weight: 700;
}

h1 {
  font-family: var(--cursive-font-family);
  font-size: 70px;
  line-height: 1;
  margin: 0;
}

p {
  font-family: var(--default-font-family);
  font-size: 35px;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 15px;
}

/* navigation styling */

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}

nav li.active a {
  color: var(--primary-color);
}

nav a {
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

nav a:hover {
  color: var(--primary-color);
  font-size: 22px;
}

/* title of about and contact pages */

header h1.title,
header .about-heading {
  color: var(--primary-color);
  font-family: var(--rotate-font-family);
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 5px;
  left: 6px;
  top: 35%;
  transform: rotate(180deg);
  margin-left: 10px;
  writing-mode: vertical-lr;
}

header .about-heading {
  position: fixed;
}

header .contact-heading {
  position: absolute;
}

/* hero of index page */

.hero {
  padding: 50px 20px 40px;
}

.hero p span {
  color: var(--secondary-color);
  font-family: var(--cursive-font-family);
  font-size: 50px;
  font-weight: 800;
}

.project-links {
  display: flex;
  justify-content: center;
}

.project-links a {
  background: transparent;
  border: 3px solid var(--secondary-color);
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  color: var(--secondary-color);
  cursor: pointer;
  font-family: var(--default-font-family);
  font-weight: 600;
  outline: none;
  padding: 10px 25px;
  text-decoration: none;
}

.project-links a:hover {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}

/* logo */

.logo {
  border-radius: 50%;
  max-height: 70px;
}

/* about page */

section p.intro {
  font-family: var(--default-font-family);
  margin: 0 70px;
  padding-top: 20px;
}

section img {
  max-width: 50px;
}

section img:hover {
  transform: scale(1.07);
}

hr {
  background: var(--hr-color);
  border: none;
  border-top: 5px solid var(--hr-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  height: 1px;
  width: 25%;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.7s;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
}

.para-about {
  font-family: var(--default-font-family);
  font-size: 20px;
  text-align: justify;
}

.float-right {
  float: right;
}

.blocks {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  text-align: center;
}

.blocks .card {
  border-radius: 10px;
  box-sizing: border-box;
  font-family: var(--default-font-family);
  position: relative;
}

.blocks .card .icon {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 200ms ease-in-out;
  z-index: 1;
}

.blocks .card .face {
  width: 300px;
  height: 150px;
  transition: 0.5s;
}

.blocks .card .face.face1 {
  align-items: center;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  transform: translateY(170px);
  /* important for background opacity */
  z-index: 2;
}

.blocks .card:hover .face.face1 {
  background: #b3e5fc;
  transform: translateY(0);
}

.blocks .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.blocks .card .face.face1 .content i {
  max-width: 100px;
}

.blocks .card .face.face2 {
  align-items: center;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
  transform: translateY(-5px);
}

.content p {
  font-size: 20px;
  font-weight: 700;
}

.content button {
  border: none;
  background: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 30px;
  padding: 5px 20px;
}

.content button:hover {
  border: none;
}

.content a {
  color: var(--secondary-color);
  display: inline-block;
  font-family: var(--cursive-font-family);
  font-size: 25px;
  font-weight: 700;
  position: relative;
  text-decoration: none;
}

.content a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/* contact page */

section h1.heading {
  font-size: 50px;
}

.social-links a {
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 18px;
  padding: 10px 14px;
  width: 18px;
  height: 18px;
  transition: all 150ms ease-in-out;
}

.social-links a:hover {
  color: var(--accent-color);
  background: var(--primary-color);
  filter: drop-shadow(2px 4px 8px #000);
}

.contact-me-page {
  text-align: center;
}

/* Bubble styling */

.bubbles img {
  animation: bubble 7s linear infinite;
  width: 50px;
}

.bubbles {
  align-items: center;
  display: flex;
  bottom: -70px;
  justify-content: space-around;
  position: absolute;
  width: 100%;
}

/* Bubble animation */

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 25px;
}
.bubbles img:nth-child(2) {
  animation-delay: 1s;
}
.bubbles img:nth-child(3) {
  animation-delay: 3s;
  width: 25px;
}
.bubbles img:nth-child(4) {
  animation-delay: 5s;
}
.bubbles img:nth-child(5) {
  animation-delay: 3s;
}
.bubbles img:nth-child(6) {
  animation-delay: 6s;
  width: 20px;
}
.bubbles img:nth-child(7) {
  animation-delay: 7s;
  width: 35px;
}

/* Footer styling */

footer {
  font-family: var(--cursive-font-family);
  font-size: 25px;
}

.footer-links {
  color: var(--primary-color);
  text-decoration: none;
}

/* Media Queries */

@media (max-width: 800px) {
  body {
    max-width: 500px;
  }

  h2 {
    font-size: 18px;
  }

  h1,
  .typing {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

  section h1.heading {
    font-size: 35px;
  }

  header h1.title {
    font-size: 30px;
  }

  footer {
    font-size: 20px;
  }

  .hero {
    padding-top: 30px;
  }

  .logo {
    max-height: 50px;
    max-width: 100px;
  }

  .para-about {
    font-size: 15px;
  }

  .weather-project {
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  .blocks {
    flex-direction: column;
  }

  .blocks .card {
    margin-bottom: 30px;
  }
}

@media (min-width: 400px) {
  header h1.title {
    top: 25%;
  }
}

@media (max-width: 320px) {
  ul a {
    font-size: 13px;
  }
}
